<!--This template is used to define fields for displaying user's climbing attempts-->
<thead>
	<tr>
		<th>Route Name</th>
		<th>Route Type</th>
		<th>Grade</th>
		<th>Climbed On</th>
		<th>My Rating</th>
		<th>Notes</th>
		<th>Status</th>
		<th></th>
	</tr>
</thead>
<tbody>
{{#attempts}}
	<tr data-attempt-id="{{attemptId}}" >
		<td><a href='?q=route_details&routeId={{routeId}}'>{{routeName}}</a></td> <!--display route names as hyperlinks-->
		<td>{{routeType}}</td>
		<td>{{grade}}</td>
		<td>{{startDateTime}}</td>
		<td data-rating="{{effortRating}}">
			<div class="rating">
				<span data-rate="1">&#9733;</span>
				<span data-rate="2">&#9733;</span>
				<span data-rate="3">&#9733;</span>
				<span data-rate="4">&#9733;</span>
				<span data-rate="5">&#9733;</span>
			</div>
		</td>
		<td class="notes">
			<div class="notes-text">{{userNotes}}&nbsp;</div>
			<textarea name="user_notes" style="display:none;">{{userNotes}}</textarea>
		</td>
		<td style="padding:0;" data-attempt-status="{{attemptStatus}}" >
			<ul class="button-group radius" style="margin:0;">
				<li class="button tiny secondary summit">
					<i class="foundicon-flag"></i>
				</li>
				<li class="button tiny secondary nogo">
					<i class="foundicon-error"></i>
				</li>
			</ul>
		</td>
		<td style="padding:0;">
			<ul class="button-group radius" style="margin:0;">
				<li class="button tiny secondary remove">
					<i class="foundicon-remove"></i> 
				</li> 
			</ul>
			
		</td>
	</tr>
{{/attempts}}
</tbody>

