


<div class="row">
	<div class="twelve columns">
		<h2>{{routeName}}</h2>
	</div>
</div>



<row class="div">
	<row class="six columns">

		<h3>Details</h3>
		<p>{{routeDescr}}</p>

		<div class="text-center">
			<a href="?q=log_attempt&route_id={{routeId}}" class="button button-large radius">Log Attempt</a>
		</div>
		<br>
		<table class="text-left">
			<tr>
				<th>Route Name</th>
				<td>{{routeName}}</td>
			</tr>
			<tr> 
				<th>Crag</th>
				<td>{{cragName}}</td>
			<tr> 
				<th>Area</th>
				<td>{{areaName}}</td>
			<tr>
				<th>Grade</th>
				<td>{{grade}}</td>
			<tr>
				<th># Pitches</th>
				<td>{{pitches}}</td>
			</tr>
			<tr>
				<th>Height</th>
				<td>{{height}}</td>
			</tr>
			<tr>
				<th>Rating</th>
				<td>{{rating}}</td>
			</tr>
		</table>




	</row>
	<row class="six columns">
			<img src='/cis665/images/NewRiverGorge.png'>
	
		<!--<img src="http://placehold.it/425x350">
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=castle+rock+ca&amp;aq=&amp;sll=44.312993,-120.833478&amp;sspn=0.008107,0.01929&amp;t=w&amp;ie=UTF8&amp;hq=&amp;hnear=Castle+Rock&amp;z=13&amp;ll=38.247136,-119.837679&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=castle+rock+ca&amp;aq=&amp;sll=44.312993,-120.833478&amp;sspn=0.008107,0.01929&amp;t=w&amp;ie=UTF8&amp;hq=&amp;hnear=Castle+Rock&amp;z=13&amp;ll=38.247136,-119.837679" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	-->
	</row>
</row>
<row class="div">
	<row class="twelve columns">
		<hr>
	</div>
</div>