


<div class="row">
	<div class="twelve columns">
		<h2>{{routeName}}</h2>
	</div>
</div>



<row class="div">
	<row class="six columns">

		<h3>Details</h3>
		<p>{{routeDescr}}</p>

		<div class="text-center">
			<a href="?q=log_attempt&route_id={{routeId}}" class="button button-large radius">Log Attempt</a>
		</div>
		<br>
		<table class="text-left">
			<tr>
				<th>Route Name</th>
				<td>{{routeName}}</td>
			</tr>
			<tr> 
				<th>Crag</th>
				<td>{{cragName}}</td>
			<tr> 
				<th>Area</th>
				<td>{{areaName}}</td>
			<tr>
				<th>Grade</th>
				<td>{{grade}}</td>
			<tr>
				<th># Pitches</th>
				<td>{{pitches}}</td>
			</tr>
			<tr>
				<th>Height</th>
				<td>{{height}}</td>
			</tr>
			<tr>
				<th>Rating</th>
				<td>{{rating}}</td>
			</tr>
		</table>




	</row>
	<row class="six columns">
			<img src='{{areaImage}}'>
	</row>

</row>
<row class="div">
	<row class="twelve columns">
		<hr>
	</div>
</div>