/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: splash.php
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
nav li.name a {
	font-family: 'Pacifico', cursive;
}
nav li.name a:hover {
	background-color:#2284a1;

}



/* -----------------------------------------
   splash.php
----------------------------------------- */
.byline {
	text-align: center;
	font-size: 1.5em;
	font-style: italic;
	font-family: 'Ubuntu', sans-serif;
}

.signoff {
	font-family: 'Pacifico', cursive;
	text-align: right;
	font-size: 4em;
}




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


